.footer-copyright-text {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    font-size: medium;
}

a{
    color: #ffff;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: #fa551e;
}