<div class="carousel-container m-0 p-0">
    <div class="col-12 p-0">
        <mdb-carousel [isControls]="false" class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
                <div class="view w-100">
                    <img class="d-block img-carousel" src="../../../assets/imgs/slider_item_scaled_1.jpg" alt="First slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>

    <div class="login-container m-0 p-0">
        <app-login></app-login>
    </div>
</div>