/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import 'src/assets/common/libs/styles/_theme.scss';

@include mat-core();

$absa-theme-primary: mat-palette($absa-primary-luxury);
$absa-theme-accent: mat-palette($absa-accent-prepared, A200, A100, A400);

$absa-theme-light: mat-light-theme($absa-theme-primary, $absa-theme-accent);

@include angular-material-theme($absa-theme-light);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-fill {
    min-height: calc(100vh - 128px);
}

*::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #fb6f40;
    outline: 1px solid #fc8862;
}